force-app/main/default/flows/Screenflow_Get_Tracking_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Tracking_Details</name>
        <label>Get Tracking Details</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>GetTrackingDetailsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Updated_Values_for_Shipment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>trackingNumber</name>
            <value>
                <elementReference>Get_Shipment_Record.Tracking_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>trackingNumberCarrierCode</name>
            <value>
                <elementReference>Get_Shipment_Record.Carrier__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetTrackingDetailsInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>const_FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Screenflow_Get_Tracking_Details</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_There_A_Carrier</name>
        <label>Is There A Carrier</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Is_There_a_Tracking_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Carrier Present</defaultConnectorLabel>
        <rules>
            <name>No_Carrier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipment_Record.Carrier__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_carrier1</targetReference>
            </connector>
            <label>No Carrier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Tracking_Number</name>
        <label>Is There a Tracking Number</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Tracking_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tracking Number Present</defaultConnectorLabel>
        <rules>
            <name>No_Tracking_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipment_Record.Tracking_Number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_no_carrier</targetReference>
            </connector>
            <label>No Tracking Number</label>
        </rules>
    </decisions>
    <description>This will get and schedule an update on the tracking information. The schedule is to get the Tracking Events updated as well</description>
    <environments>Default</environments>
    <formulas>
        <name>datetime_ActualDeliveryDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Tracking_Details.trackingResponse.trackingResponse.data.actual_delivery_date})),
DATETIMEVALUE({!Get_Tracking_Details.trackingResponse.trackingResponse.data.actual_delivery_date}),null)</expression>
    </formulas>
    <formulas>
        <name>datetime_EstimatedDeliveryDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Tracking_Details.trackingResponse.trackingResponse.data.estimated_delivery_date})),
DATETIMEVALUE({!Get_Tracking_Details.trackingResponse.trackingResponse.data.estimated_delivery_date}), null)</expression>
    </formulas>
    <formulas>
        <name>datetime_ShipDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Tracking_Details.trackingResponse.trackingResponse.data.ship_date})),
DATETIMEVALUE({!Get_Tracking_Details.trackingResponse.trackingResponse.data.ship_date}), null)</expression>
    </formulas>
    <interviewLabel>Screenflow - Get Tracking Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Shipment - Get Tracking Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>We create this record to call mc_TrackingMasterTrigger which will process another shipment update but also the events. The events is mainly what this is for but also will help ensure all of the updates are done correctly on the Shipment record.</description>
        <name>Create_Tracking_Master_Record</name>
        <label>Create Tracking Master Record</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_no_carrier</targetReference>
        </connector>
        <inputReference>Set_Values_for_Tracking_Master</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Shipment_Record</name>
        <label>Get Shipment Record</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_A_Carrier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This will update the shipment record with the latest details we have for the shipment record. This may be unnecessary as we have a trigger that does the same update as well, but this allows the user to see an instant update in case the queue able action takes a bit longer.</description>
        <name>Update_Shipment_Record</name>
        <label>Update Shipment Record</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Set_Values_for_Tracking_Master</targetReference>
        </connector>
        <inputReference>Set_Updated_Values_for_Shipment</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Copy_1_of_no_carrier</name>
        <label>Copy 1 of Copy 1 of no carrier</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_nocarriermessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 167, 26);&quot;&gt;Tracking Information Updated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_no_carrier</name>
        <label>Copy 1 of no carrier</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_nocarriermessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(124, 0, 0);&quot;&gt;Not able to get tracking details since there is no tracking number on the shipment.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>no_carrier1</name>
        <label>no carrier</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>nocarriermessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(173, 0, 0);&quot;&gt;Not able to get tracking details since there is no carrier on the shipment.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Shipment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Set_Updated_Values_for_Shipment</name>
        <label>Set Updated Values for Shipment</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Shipment_Record</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Shipment__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Status_Code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Tracking_Details.trackingResponse.trackingResponse.data.status_code</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status_Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Tracking_Details.trackingResponse.trackingResponse.data.status_description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Exception_Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Tracking_Details.trackingResponse.trackingResponse.data.exception_description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Carrier__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Shipment_Record.Carrier__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Shipment_Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Actual_Delivery_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>DateTime</formulaDataType>
                    <formulaExpression>IF(NOT(ISBLANK({!datetime_ActualDeliveryDate})), {!datetime_ActualDeliveryDate},{!Get_Shipment_Record.Actual_Delivery_Date__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Estimated_Delivery_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>DateTime</formulaDataType>
                    <formulaExpression>IF(NOT(ISBLANK({!datetime_EstimatedDeliveryDate})), {!datetime_EstimatedDeliveryDate},{!Get_Shipment_Record.Estimated_Delivery_Date__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Ship_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>DateTime</formulaDataType>
                    <formulaExpression>IF(NOT(ISBLANK({!datetime_ShipDate})), {!datetime_ShipDate},{!Get_Shipment_Record.Ship_Date__c})</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Set_Values_for_Tracking_Master</name>
        <label>Set Values for Tracking Master</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Create_Tracking_Master_Record</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Tracking_Master__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Webhook_JSON_Body__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Tracking_Details.trackingResponse.json</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Tracking_Number__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Tracking_Details.trackingResponse.trackingResponse.data.tracking_number</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
